// @copyright Trollwerks Inc.

BUNDLE_LOADER = $(TEST_HOST)
INFOPLIST_FILE = PosesTests/support/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.trollwerks.posesTests
PRODUCT_NAME = $(TARGET_NAME)
TARGETED_DEVICE_FAMILY = 1,2
TEST_HOST = $(BUILT_PRODUCTS_DIR)/Poses Pro.app/Poses Pro
